<div class="card dashboard-card-{{ options.name }}">
    <div class="card-header">
        <div class="row">
            <h3 class="col mb-0">
                <span class="{{ options.icon }}"></span>
                {{ ('entity:' ~ options.name ~ '.plural')|l }}
            </h3>

            <div class="col-auto mr-auto">
                <div class="btn-group">
                    {% if routeExists('admin_' ~ options.name ~ '_new') %}
                        <a href="{{ route('admin_' ~ options.name ~ '_new') }}" class="btn btn-sm btn-success">
                            <span class="fa fa-plus fa-fw"></span> {{ 'crud:new.action'|l }}
                        </a>
                    {% endif %}

                    {% if routeExists('admin_' ~ options.name ~ '_list') %}
                        <a href="{{ route('admin_' ~ options.name ~ '_list') }}" class="btn btn-sm btn-secondary">
                            <span class="fa fa-list fa-fw"></span> {{ 'crud:list.short'|l }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% for key, metric in options.metrics %}
            <li class="list-group-item">
                {% include 'Crud/Dashboard/Metric/' ~ metric.template %}
            </li>
        {% endfor %}
    </ul>
</div>
