{% extends 'Crud/crud' %}

{% block crud_title %}<span class="fas fa-tachometer-alt fa-fw"></span> {{ 'crud:dashboard.action'|l }}{% endblock %}

{% block crud_content %}
    <div class="card-columns">
        {% for route, options in crudsWithMetrics %}
            {% include 'Crud/Dashboard/card' %}
        {% endfor %}
    </div>
{% endblock %}
