{% if metric.hasLink %}<a href="{{ route('admin_metricApply', {crud: options.name, metric: key}) }}" class="text-primary">{% endif %}
<div class="text-center">
    <div class="display-4">
        {{ metric.value }}
    </div>
    {{ ('entity:' ~ options.name ~ '.metrics.' ~ key)|l }}
</div>
{% if metric.hasLink %}</a>{% endif %}
