{% extends 'Crud/Show/show' %}

{% block breadcrumbs %}
    {{ parent() }}
    {{ breadcrumbs.append({
        icon: 'fas fa-edit fa-fw',
        text: 'crud:edit.action'|l,
    }) }}
{% endblock %}

{% block crud_actions%}
    {% if routeExists('admin_' ~ model.name ~ '_show') %}
        <a href="{{ route('admin_' ~ model.name ~ '_show', {id: entity.id}) }}" class="btn btn-sm btn-secondary">
            <span class="fas fa-search fa-fw"></span>
            {{ 'crud:show.action'|l }}
        </a>
    {% endif %}

    {% if routeExists('admin_' ~ model.name ~ '_delete') %}
        <a href="{{ route('admin_' ~ model.name ~ '_delete', {id: entity.id}) }}" class="btn btn-sm btn-danger">
            <span class="fas fa-trash fa-fw"></span>
            {{ 'crud:delete.action'|l }}
        </a>
    {% endif %}
{% endblock %}

{% block crud_content %}
    <form method="post" class="form crud-edit" enctype="multipart/form-data">
        {{ widget(form, form.name, 'Avris\\Forms\\Style\\Bootstrap2') }}
        <div class="text-right">
            {% include 'Crud/Edit/footer_actions' %}
        </div>
    </form>
{% endblock %}
