<button class="btn btn-primary">
    <span class="fas fa-save"></span>
    {{ 'crud:save.action'|l }}
</button>

{% if routeExists('admin_' ~ model.name ~ '_list') %}
    <button class="btn btn-secondary" name="_after" value="list">
        <span class="fas fa-list"></span>
        {{ 'crud:save.actionList'|l }}
    </button>
{% endif %}

{% if routeExists('admin_' ~ model.name ~ '_delete') %}
    <a href="{{ route('admin_' ~ model.name ~ '_delete', {id: entity.id}) }}" class="btn btn-danger">
        <span class="fas fa-trash fa-fw"></span>
        {{ 'crud:delete.action'|l }}
    </a>
{% endif %}
