{% extends 'Crud/Show/show' %}

{% block breadcrumbs %}
    {{ parent() }}
    {{ breadcrumbs.append({
        icon: 'fas fa-trash fa-fw',
        text: 'crud:delete.action'|l,
    }) }}
{% endblock %}

{% block crud_actions%}
    {% if routeExists('admin_' ~ model.name ~ '_show') %}
        <a href="{{ route('admin_' ~ model.name ~ '_show', {id: entity.id}) }}" class="btn btn-sm btn-secondary">
            <span class="fas fa-search fa-fw"></span> {{ 'crud:show.action'|l }}
        </a>
    {% endif %}

    {% if routeExists('admin_' ~ model.name ~ '_edit') %}
        <a href="{{ route('admin_' ~ model.name ~ '_edit', {id: entity.id}) }}" class="btn btn-sm btn-secondary">
            <span class="fas fa-edit fa-fw"></span>
            {{ 'crud:edit.action'|l }}
        </a>
    {% endif %}
{% endblock %}

{% block crud_content %}
    <form method="post" enctype="multipart/form-data" class="alert alert-danger crud-delete">
        <p>{{ 'crud:delete.confirm'|l }}</p>
        <p>
            <button class="btn btn-danger">
                <span class="fas fa-trash"></span>
                {{ 'crud:delete.action'|l }}
            </button>
        </p>
    </form>
{% endblock %}