{% set valueSet = attribute(entity, name) %}

{% if valueSet.timestamp is defined %}
    {% set valueSet = valueSet|date('format.datetime'|l) %}
{% endif %}

{% set valueSet = valueSet is iterable ? valueSet : [valueSet] %}

{% for value in valueSet %}
    {% include 'Crud/keyElement' with {
        separator: ', ',
        field: listElement,
        echoValue: listElement.filterable is iterable and listElement.filterable['_model'] is not defined
            ? listElement.filterable[value]
            : value
    } %}
{% endfor %}
