<th class="text-right">
    <div class="btn-group">
        {% if filter|length %}
            <a class="btn btn-sm btn-danger crud-filter-clear" href="{{ route('admin_' ~ model.name ~ '_list', routeParams|merge({clear: true})) }}">
                <i class="fas fa-eraser fa-fw"></i>
            </a>
        {% endif %}
        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-filter fa-fw"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 24rem;">
            <form class="form-filter px-3 py-2" method="post" action="{{ route('admin_' ~ model.name ~ '_list', routeParams) }}">
                {% for name, listElement in config.list.fields if listElement.filterable %}
                    {% set widgetName = model.name ~ '_filter[' ~ name ~ ']' %}
                    <div class="form-group row">
                        <label class="col-sm-5 col-xs-12" for="{{ widgetName }}">{% include 'Crud/label' with {label: listElement.label} %}</label>
                        <div class="col-sm-7 col-xs-12">
                            {% if listElement.filterable is iterable %}
                                {% set filterElements = listElement.filterable['_model'] is defined
                                    ? finder.findAll(listElement.filterable['_model'])
                                    : listElement.filterable %}
                                <select class="form-control input-sm" name="{{ widgetName }}">
                                    {% for filterKey, filterValue in {'': ''}|merge(filterElements) %}
                                        <option value="{{ filterKey }}" {% if filter[name] is defined and filterKey == filter[name] %}selected{% endif %}>{{ filterValue }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input class="form-control input-sm" name="{{ widgetName }}" {% if filter[name] is defined and filter[name] %}value="{{ filter[name] }}"{% endif %}/>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="alert alert-info" style="font-weight: normal; margin-bottom: 8px; padding: 4px 8px; font-size: 85%;">
                    {{ 'crud:list.filterHelper'|l|raw }}
                </div>
                <button type="submit" class="btn btn-sm btn-success btn-block">
                    <span class="fa fa-filter fa-fw"></span>
                    {{ 'crud:list.filter'|l }}
                </button>
            </form>
        </div>
    </div>
</th>

<script>
    document.querySelector('form').onclick = function (e) { e.stopPropagation(); };
</script>
