<td colspan="{{ config.list.fields|length + 1 }}" class="text-center">
    {% if exportFormats|length and config.export.fields|length %}
        <div class="btn-group dropup float-left">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-download"></span>
                {{ 'crud:list.export'|l }}
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                {% for exportFormat in exportFormats %}
                    <a class="dropdown-item" href="{{ route('admin_' ~ model.name ~ '_list', {format: exportFormat}) }}">
                        <span class="fas fa-download fa-fw"></span>
                        {{ exportFormat|upper }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="btn-group crud-pagination">
        {% set pages = (count/perPage)|round(0, 'ceil') %}
        {% if pages > 1 %}
            {% set dotsshown = false %}
            {% for i in 1..pages %}
                {% if i <= 3 or (i - page)|abs <= 3 or i > pages - 3 or pages < 12 %}
                    {% set routeParams = i == 1 ? {} : {page:  i} %}
                    {% if sort.plain %}{% set routeParams = routeParams|merge({sort: sort.plain}) %}{% endif %}
                    <a href="{{ route('admin_' ~ model.name ~ '_list', routeParams) }}" class="btn btn-sm btn-{{ i == page ? 'primary' : 'default' }}">{{ i }}</a>
                    {% set dotsshown = false %}
                {% elseif not dotsshown %}
                    <a href="#" class="btn btn-sm btn-default disabled">...</a>
                    {% set dotsshown = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <small class="float-right">{{ 'crud:list.itemsCount'|l({count: count}) }}</small>
</td>
