{% for name, listElement in config.list.fields %}
    <th class="crud-column-{{ name }}">
        {% include 'Crud/label' with {label: listElement.label} %}
        {% if listElement.sortable %}
            {% for dir, arrow in {'asc': 'up', 'desc': 'down'} %}
                <a href="{{ route('admin_' ~ model.name ~ '_list', { sort: name ~ '|' ~ dir }) }}"
                   class="crud-sort-{{ dir }} {% if sort.by == name and sort.dir == dir %}crud-sort-active text-success{% endif %}"
                ><span class="fa fa-caret-{{ arrow }}"></span></a>
            {% endfor %}
        {% endif %}
    </th>
{% endfor %}

{% include 'Crud/List/filter' %}
