{% extends 'Crud/crud' %}


{% block breadcrumbs %}
    {{ parent() }}
    {{ breadcrumbs.append({
        link: routeExists('admin_' ~ model.name ~ '_list') ? route('admin_' ~ model.name ~ '_list') : null,
        icon: model.icon|default('fas fa-list fa-fw'),
        text: ('entity:'~model.name~'.plural')|l,
    }) }}
{% endblock %}

{% block crud_actions%}
    {% if routeExists('admin_' ~ model.name ~ '_new') %}
        <a href="{{ route('admin_' ~ model.name ~ '_new') }}" class="btn btn-sm btn-success">
            <span class="fas fa-plus-circle fa-fw"></span>
            {{ 'crud:new.action'|l }}
        </a>
    {% endif %}
{% endblock %}

{% block containerClass %}container-wide{% endblock %}

{% block crud_content %}
    {% set routeParams = sort.plain ? {sort:  sort.plain} : {} %}
    <table class="table table-striped table-responsive-lg crud-list">
        <thead>
        <tr>
            {% include 'Crud/List/header.html.twig' %}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% include 'Crud/List/row' %}
        {% else %}
            <tr>
                <td colspan="{{ config.list.fields|length + 1 }}" style="text-align: center">
                    {{ 'crud:list.empty'|l }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            {% include 'Crud/List/footer' %}
        </tr>
        </tfoot>
    </table>
{% endblock %}
