<tr>
    {% for name, listElement in config.list.fields %}
        <td class="crud-column-{{ name }}">
            {% include listElement.view %}
        </td>
    {% endfor %}
    <td class="crud-actions text-right">
        {% include 'Crud/List/row_actions' %}
    </td>
</tr>