{% if routeExists('admin_' ~ model.name ~ '_show') %}
    <a href="{{ route('admin_' ~ model.name ~ '_show', {id: entity.id}) }}" class="btn btn-sm btn-primary" title="{{ 'crud:show.action'|l }}">
        <span class="fas fa-search fa-fw"></span>
    </a>
{% endif %}

{% if routeExists('admin_' ~ model.name ~ '_edit') %}
    <a href="{{ route('admin_' ~ model.name ~ '_edit', {id: entity.id}) }}" class="btn btn-sm btn-secondary" title="{{ 'crud:edit.action'|l }}">
        <span class="fas fa-edit fa-fw"></span>
    </a>
{% endif %}

{% if routeExists('admin_' ~ model.name ~ '_delete') %}
    <a href="{{ route('admin_' ~ model.name ~ '_delete', {id: entity.id}) }}" class="btn btn-sm btn-danger" title="{{ 'crud:delete.action'|l }}">
        <span class="fas fa-trash fa-fw"></span>
    </a>
{% endif %}

{% for customAction in config.list.actions %}
    {% include customAction %}
{% endfor %}
