{% set value = attribute(entity, name) %}
{% if value %}
    <span class="label label-success"><span class="fa fa-check"></span></span>
{% else %}
    <span class="label label-danger"><span class="fa fa-times"></span></span>
{% endif %}