{% extends 'layout' %}

{% set breadcrumbs = startBreadcrumbs() %}

{% block content %}
    <main>
        <div class="row">
            <div class="col">
                {% block breadcrumbs %}
                    {{ breadcrumbs.append({
                        link: routeExists('admin_dashboard') ? route('admin_dashboard') : null,
                        icon: 'fas fa-tachometer-alt fa-fw',
                        text: 'crud:dashboard.action'|l,
                    }) }}
                {% endblock %}
                {% include 'Bootstrap/breadcrumbs' with {breadcrumbs: breadcrumbs} %}
            </div>
            <div class="col-auto mr-auto">
                {% block crud_actions%}{% endblock %}
                {% if config is defined %}
                    {% for action in config.general.actions %}
                        {% include action %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% block crud_content %}{% endblock %}
    </main>
{% endblock %}
