{% if field.key %}
    {% if field.key is same as(true) %}
        {% set keys = ['admin_' ~ model.name ~ '_show', 'admin_' ~ model.name ~ '_edit'] %}
        {% if routeExists(keys) %}
            {% set href = route(keys, {id: entity.id}) %}
        {% endif %}
    {% elseif value %}
        {% set keys = ['admin_' ~ field.key ~ '_show', 'admin_' ~ field.key ~ '_edit'] %}
        {% if routeExists(keys) %}
            {% set href = route(keys, {id: value.id }) %}
        {% endif %}
    {% endif %}
{% endif %}

{% if href is defined %}<a href="{{ href }}">{% endif %}{% if raw is defined and raw %}{{ echoValue|raw }}{% else %}{{ echoValue }}{% endif %}{% if href is defined %}</a>{% endif %}{% if not loop.last and separator is defined %}{{ separator }}{% endif %}