<button class="btn btn-primary">
    <span class="fas fa-save"></span>
    {{ 'crud:save.action'|l }}
</button>

<button class="btn btn-default" name="_after" value="new">
    <span class="fas fa-plus-circle"></span>
    {{ 'crud:save.actionNext'|l }}
</button>
