{% extends 'Crud/List/list' %}

{% block breadcrumbs %}
    {{ parent() }}
    {{ breadcrumbs.append({
        icon: 'fas fa-plus-circle fa-fw',
        text: 'crud:new.action'|l,
    }) }}
{% endblock %}

{% block crud_content %}
    <form method="post" class="form crud-edit" enctype="multipart/form-data">
        {{ widget(form, form.name, 'Avris\\Forms\\Style\\Bootstrap2') }}
        <div class="text-right">
            {% include 'Crud/New/footer_actions' %}
        </div>
    </form>
{% endblock %}
