{% set valueSet = attribute(entity, name) %}

{% if valueSet.timestamp is defined %}
    {% set valueSet = valueSet|date('format.datetime'|l) %}
{% endif %}

{% if valueSet is iterable %}
    <ul>
        {% for value in valueSet %}
            <li>{% include 'Crud/keyElement' with {
                    raw: element.raw,
                    echoValue: value,
                    field: element
                } %}</li>
        {% endfor %}
    </ul>
{% else %}
    {% include 'Crud/keyElement' with {
        raw: element.raw,
        echoValue: valueSet,
        value: valueSet,
        field: element
    } %}
{% endif %}
