{% extends 'Crud/List/list' %}

{% block breadcrumbs %}
    {{ parent() }}
    {{ breadcrumbs.append({
        link: routeExists('admin_' ~ model.name ~ '_show') ? route('admin_' ~ model.name ~ '_show', {id: entity.id}) : null,
        icon: 'fas fa-search fa-fw',
        text: entity,
    }) }}
{% endblock %}

{% block crud_actions%}
    {% if routeExists('admin_' ~ model.name ~ '_edit') %}
        <a href="{{ route('admin_' ~ model.name ~ '_edit', {id: entity.id}) }}" class="btn btn-sm btn-secondary">
            <span class="fas fa-edit fa-fw"></span>
            {{ 'crud:edit.action'|l }}
        </a>
    {% endif %}

    {% if routeExists('admin_' ~ model.name ~ '_delete') %}
        <a href="{{ route('admin_' ~ model.name ~ '_delete', {id: entity.id}) }}" class="btn btn-sm btn-danger">
            <span class="fas fa-trash fa-fw"></span>
            {{ 'crud:delete.action'|l }}
        </a>
    {% endif %}
{% endblock %}

{% block crud_content %}
    <table class="table table-bordered crud-show">
        {% for sectionName, section in config.show.fields %}
            {% if sectionName is not empty %}
                <tr class="crud-section-{{ sectionName }}">
                    <td colspan="2">
                        <h4>{{ sectionName }}</h4>
                    </td>
                </tr>
            {% endif %}
            {% for name, element in section %}
                <tr>
                    <th class="crud-field-{{ name }}">{% include 'Crud/label' with {label: element.label} %}</th>
                    <td class="crud-field-{{ name }}">{% include element.view %}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}